@import url("variable.css");

.navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: var(--grey);
}
.nav-links{
    display: flex;
    margin-right: 3rem;
    list-style: none;
}
.logo{
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 5px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: 'Ma Shan Zheng', cursive;
}
.logo h4{
  padding-top: 0.7rem;
}
.logo img{
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
ul li {
    padding: 25px 25px;
  } 
.navbar a{
  display: block;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.links:hover {
  color: #f25e5e;
  font-weight: bold;
}
.toggle-button {
  display: none
}

.toggle-button div{
width: 2rem;
height: 0.3rem;
background-color: rgb(226,226,226);
margin-bottom: 0.5rem;
margin-right: 2rem;
transition: all 0.3s ease;
}
.img-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  position: relative;
}

#carousel-transition {
  transition: transform 0.7s ease-in-out;
}

/* .carousel-container{
  width: 60%;
  margin: auto;
  overflow: hidden; 
}
.carousel-slide{
  margin-top: 30rem;
  display: flex;
  width: 100%;
  height: 500px;
}
.carousel-slide img{
  width: 200rem;
  object-fit: cover;
} */
.carousel {
  margin-top: 23rem;
  height: 55rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.data-slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  width: 105%;
  height: 85vh;
  object-fit: cover;
  position: absolute;
  object-position: center;
  align-items: center;
  margin-top: -23rem;
  transform: translate(-1%);
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 35%;
  /*  margin-left: 30rem;
  margin-right: 30rem; */
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  padding: 1rem;
  position: absolute;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.column {
  margin: 1rem;
}

.middle {
  width: 70rem;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.left,
.right {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  filter: grayscale(70%);
}

.box {
  margin-left: 3.5rem;
  width: 40rem;
  margin-right: 3.5rem;
  padding-bottom: 8rem;
  background-color: black;
  color: white;
  opacity: 1;
  transform: scale(1);
  font-family: var(--font-family);
  display: flex;
  flex-wrap: wrap;
}

.box img {
  width: 100%;
  height: 65rem;
  overflow: hidden;
  object-fit: cover;
}
.box-heading,
.box-text {
  margin-left: 2rem;
  margin-right: 2rem;
}
.box-heading {
  margin-top: 2rem;
  font-size: 2.1rem;
}
.box-text {
  margin-top: 1rem;
  font-size: 1.6rem;
  height: 15rem;
}
.title {
  color: black;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 5rem;
  font-family: var(--font-family);
}

.collage {
  display: grid;
  grid-template-columns: [first] 45rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
  grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
  column-gap: 1.438rem;
  row-gap: 1.438rem;
}
.longi {
  grid-column-start: line2;
  grid-column-end: third;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
  width: 27.813rem;
  height: 27.813rem;
  object-fit: cover;
}
.crane {
  grid-column-start: third;
  grid-column-end: col4-start;
  grid-row-start: row1-start;
  grid-row-end: line1-5;
  width: 29.6rem;
  height: 44.063rem;
  object-fit: cover;
}
.gardens {
  grid-column-start: col4-start;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
  width: 33rem;
  height: 27.813rem;
  object-fit: cover;
}
.studio {
  grid-column-start: line2;
  grid-column-end: third;
  grid-row-start: row1-end;
  grid-row-end: second;
  width: 27.813rem;
  height: 25rem;
  object-fit: cover;
}
.aquatics {
  grid-column-start: third;
  grid-column-end: col4-start;
  grid-row-start: line1-5;
  grid-row-end: second-end;
  width: 29.6rem;
  height: 26.3rem;
  object-fit: cover;
}
.heaven {
  grid-column-start: col4-start;
  grid-row-start: row1-end;
  grid-row-end: second-end;
  width: 33rem;
  height: 42.7rem;
  object-fit: cover;
}
.ball {
  grid-column-start: line2;
  grid-column-end: third;
  grid-row-start: second;
  grid-row-end: third;
  width: 27.813rem;
  height: 40.5rem;
  object-fit: cover;
}
.city {
  grid-column-start: third;
  grid-column-end: col4-end;
  grid-row-start: second-end;
  grid-row-end: fourth;
  width: 35.7rem;
  height: 33.7rem;
  object-fit: cover;
}
.park {
  grid-column-start: col4-end;
  grid-column-end: end;
  grid-row-start: second-end;
  grid-row-end: third;
  width: 26.65rem;
  height: 23.2rem;
  object-fit: cover;
}
.tower {
  grid-column-start: line2;
  grid-column-end: third;
  grid-row-start: third;
  grid-row-end: fifth;
  width: 27.813rem;
  height: 35.5rem;
  object-fit: cover;
}
.yangshuo {
  grid-column-start: third;
  grid-column-end: col4-end;
  grid-row-start: fourth;
  grid-row-end: fifth;
  width: 35.7rem;
  height: 24.6rem;
  object-fit: cover;
}
.walkway {
  grid-column-start: col4-end;
  grid-column-end: end;
  grid-row-start: third;
  grid-row-end: fifth;
  width: 26.65rem;
  height: 35.6rem;
  object-fit: cover;
}
.bell {
  grid-column-start: line2;
  grid-column-end: line2-5;
  grid-row-start: fifth;
  grid-row-end: end;
  width: 24.5rem;
  height: 28.688rem;
  object-fit: cover;
}
.panda {
  grid-column-start: line2-5;
  grid-column-end: col4-start;
  grid-row-start: fifth;
  width: 33rem;
  height: 28.688rem;
  object-fit: cover;
}
.jiuzhaigou {
  grid-column-start: col4-start;
  grid-column-end: end;
  grid-row-start: fifth;
  grid-row-end: end;
  width: 33rem;
  height: 28.688rem;
  object-fit: cover;
}
.collage-title {
  font-size: var(--h2);
  font-family: var(--font-family);
  text-align: center;
  margin-left: -3.6rem;
  margin-bottom: 2rem;
}
.left-arrow,
.right-arrow {
  border: solid black;
  border-width: 0 1rem 1rem 0;
  display: inline-block;
  padding: 1rem;
  position: absolute;
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.links:hover {
  color: #f25e5e;
  font-weight: bold;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 1.875rem 0;
}
.icons .fa {
  color: black;
  margin: 0 0.813rem;
  cursor: pointer;
  padding: 1.125rem 0;
  font-size: 3rem;
}
.footer h5{
  font-size: var(--h5);
  font-family: var(--font-family)  
}
.terms{
  font-size: 2rem;
  font-family: var(--font-family);
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
}
.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
@media only screen and (max-width: 1600px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 30rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .carousel{
    height: 35rem;
  }
}
@media only screen and (max-width: 1280px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 15rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}
@media only screen and (max-width: 1180px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 11rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}

@media only screen and (max-width: 1024px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 3rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .box{
    height: 110rem;
  }
}
@media all and (max-width: 962px){
  .box{
    height: 115rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 0rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}

@media all and (max-width: 912px){
  .carousel{
    height: 80rem;
  }
  .img-group{
    flex-direction: column;
  }
  .box{
    margin-bottom: 5rem;
    width: 65rem;
  }
  img.gardens {
    display: none;
  }
  img.heaven {
    display: none;
  }
  img.park {
    display: none;
  }
  img.walkway {
    display: none;
  }
  img.jiuzhaigou {
    display: none;
  }
  .aquatics{
    width: 35.7rem;
  }
  .bell{
    width: 31rem;
    height: 28.688rem;
  }
  .panda {
    grid-column-start: third;
    width: 35.7rem; 
  }
  .crane{
    width: 35.7rem; 
  }
  .longi{
    width: 31rem;
  }
  .studio{
    width: 31rem;
  }
  .ball{
    width: 31rem;
  }
  .tower{
    width: 31rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 10rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}
@media all and (max-width: 896px){
  .carousel{
    height: 3rem;
  }
  .collage-title{
    margin-left: 1rem;
  }
}
@media all and (max-width: 851px){
  .collage {
    display: grid;
    grid-template-columns: [first] 8rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
}
}
@media all and (max-width: 820px){
  .carousel{
    height: 60rem;
  }
  .img-group{
    flex-direction: column;
  }
  .box{
    margin-bottom: 5rem;
    height: 100rem;
    width: 60rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 5.5rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}
@media all and (max-width: 800px){
  .carousel{
    height: 70rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 5rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .collage-title{
    margin-left: 0.9rem;
  }
}
@media all and (max-width: 768px) {
  /* body{
    overflow-x: hidden;
    position: relative;
  } */
  .carousel {
   left: -2rem;
   width: 75rem;
  }
  
  .navbar{
    background: var(--grey);
    height: 25rem;
  }
  .nav-links{
    flex-direction: column;
    padding: 1rem;
  }
  .img-group{
    flex-direction: column;
  }
  .box{
    margin-bottom: 3rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 3rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}
@media screen and (max-width: 740px){
  .collage {
    display: grid;
    grid-template-columns: [first] 1.2rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .carousel{
    height: 1rem;
  }
}
@media screen and (max-width: 720px){
  .carousel{
    height: 10rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 0.3rem [line2] 32rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}
@media screen and (max-width: 667px){
  .carousel{
    height: 0.5rem;
    width: 65.5rem;
  }
  .aquatics{
    width: 30rem;
  }
  .bell{
    width: 31rem;
    height: 28.688rem;
  }
  .panda {
    grid-column-start: third;
    width: 30rem; 
  }
  .crane{
    width: 30rem; 
  }
  .city{
    width: 30rem;
  }
  .yangshuo{
    width: 30rem;
  }
}
@media screen and (max-width: 601px){
  .carousel{
    height: 47rem;
    width: 60rem;
  }
  .box{
    width: 50rem;
  }
  img.crane {
    display: none;
  }
  img.gardens {
    display: none;
  }
  img.aquatics {
    display: none;
  }
  img.heaven {
    display: none;
  }
  img.city {
    display: none;
  }
  img.park {
    display: none;
  }
  img.yangshuo {
    display: none;
  }
  img.walkway {
    display: none;
  }
  img.panda {
    display: none;
  }
  img.jiuzhaigou {
    display: none;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 13rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .collage-title{
    margin-left: -0.5rem;
  }
}

@media screen and (max-width: 540px){
  .carousel{
    height: 25rem;
    width: 55rem;
  }
  .box{
    width: 45rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 10.5rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
}

@media screen and (max-width: 414px) {
  .carousel{
    height: 40rem;
    width: 45rem;
  }
  .nav-links {
    top: 7.8vh;
  }
  img.crane {
    display: none;
  }
  img.gardens {
    display: none;
  }
  img.aquatics {
    display: none;
  }
  img.heaven {
    display: none;
  }
  img.city {
    display: none;
  }
  img.park {
    display: none;
  }
  img.yangshuo {
    display: none;
  }
  img.walkway {
    display: none;
  }
  img.panda {
    display: none;
  }
  img.jiuzhaigou {
    display: none;
  }
  .bell {
    grid-column-start: line2;
    grid-column-end: line2-5;
    grid-row-start: fifth;
    grid-row-end: end;
    width: 31rem;
    height: 28.688rem;
    object-fit: cover;
  }
  .img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
    position: relative;
  }
  .box {
    margin-bottom: 5rem;
    width: 35rem;
  }
  .collage {
    display: grid;
    grid-template-columns: [first] 4rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .slide > img {
    width: 100%;
  }
  .collage-title{
    margin-left: -0.7rem;
  }
}
@media only screen and (max-width: 393px){
  .collage {
    display: grid;
    grid-template-columns: [first] 3rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .collage-title {
    justify-content: center;
    margin-left: -0.7rem;
  }
  .carousel{
    width: 41.5rem;
  }
  .logo{
    margin-left:-2rem;
  }
}

@media only screen and (max-width: 390px) {
  .collage-title {
    justify-content: center;
    margin-left: -0.7rem;
  }
}

@media only screen and (max-width: 375px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 2.5rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .logo{
    margin-left:-3rem;
  }
  .carousel{
    height: 20rem;
    width: 40rem;
  }
  .box{
    width: 33rem;
  }
}
@media only screen and (max-width: 360px) {
  .collage {
    display: grid;
    grid-template-columns: [first] 1.5rem [line2] 25rem [line2-5] 2rem [third] 30rem[col4-start] 5rem [col4-end] 32rem [sixth] 45rem [end];
    grid-template-rows: [row1-start] 28rem [row1-end] 15rem [line1-5] 9rem [second] 16rem [second-end] 23.313rem [third] 9.5rem [fourth] 25.3rem [fifth] 28.688rem [end];
    column-gap: 1.438rem;
    row-gap: 1.438rem;
  }
  .collage-title{
    margin-left: -1rem;
  }
  .logo{
    margin-left:-4rem;
  }
}