@import url("variable.css");

.navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: var(--grey);
}
.nav-links{
    display: flex;
    margin-right: 3rem;
    list-style: none;
}
.logo{
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 5px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: 'Ma Shan Zheng', cursive;
}
.logo h4{
  padding-top: 0.7rem;
}
.logo img{
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
ul li {
    padding: 25px 25px;
  } 
.navbar a{
  display: block;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.links:hover {
  color: #f25e5e;
  font-weight: bold;
}
.toggle-button {
  display: none
}

.toggle-button div{
width: 2rem;
height: 0.3rem;
background-color: rgb(226,226,226);
margin-bottom: 0.5rem;
margin-right: 2rem;
transition: all 0.3s ease;
}

header {
  position: absolute;
  width: 100%;
  height: 90rem;
  left: 0rem;
  top: 7rem;
}
header {
  background: url("../public/cup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 75%;
}
.cuisine-subheader {
  font-size: 10rem;
  color: white;
  margin: 30rem 0rem 0rem 25rem;
  box-shadow: white -8.5rem 0rem;
  width: 4.5rem;
  line-height: 9rem;
  font-family: var(--font-family);
}
.hotpot img {
  position: relative;
  top: 95rem;
  left: 45rem;
  width: 100rem;
  padding: 10rem;
  border: 3px solid #000000;
  border-right-style: none;
  border-left-style: none;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110rem;
  margin-bottom: 20rem;
  flex-wrap: wrap;
}
.card-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  perspective: 90rem;
}
.card {
  position: relative;
  width: 35rem;
  height: 35rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 20rem;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  background-color: black;
  justify-content: center;
  width: 35rem;
  height: 45rem;
  color: white;
  backface-visibility: hidden;
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-img {
  position: absolute;
  width: 100%;
  height: 35rem;
  object-fit: cover;
  margin-bottom: 10rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45rem;
  border: double;
  border-width: 1rem;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(180deg);
}

.card-title {
  margin-top: 35rem;
  font-family: var(--font-family);
  font-size: 2.5rem;
  text-align: center;
  width: 30rem;
}

.description {
  font-family: var(--font-family);
  font-size: 1.5rem;
  text-align: center;
  width: 20rem;
}

.links:hover {
  color: #f25e5e;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  body{
    overflow-x: hidden;
    position: relative;
  }
  .navbar{
    background: var(--grey);
    height: 7rem;
  }
  .nav-links{
    position: absolute;
    right: -3rem;
    height: 93.2vh;
    top: 6.8vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .toggle-button{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translate(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px, -6px);
}
}
@media screen and (max-width: 414px) {
  .nav-links {
    top: 7.8vh;
  }
}