@import url("variable.css");

body {
  font-family: var(--font-family);
}
.navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: var(--grey);
}
.nav-links{
    display: flex;
    margin-right: 3rem;
    list-style: none;
}
.logo{
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 5px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: 'Ma Shan Zheng', cursive;
}
.logo h4{
  padding-top: 0.7rem;
}
.logo img{
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
ul li {
    padding: 25px 25px;
  } 
.navbar a{
  display: block;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.links:hover {
  color: #f25e5e;
  font-weight: bold;
}
.toggle-button {
  display: none
}

.toggle-button div{
width: 2rem;
height: 0.3rem;
background-color: rgb(226,226,226);
margin-bottom: 0.5rem;
margin-right: 2rem;
transition: all 0.3s ease;
}
header {
  width: 100%;
  height: 90rem;
  background: linear-gradient(rgba(36, 35, 35, 0.4), rgba(36, 35, 35, 0.4)),
    url("http://4.bp.blogspot.com/-LSQmZ0o9Wys/Vktv5G1EbcI/AAAAAAAABbQ/QRw9QJSi3xQ/s1600/red-lanterns.jpg")
      top/cover no-repeat;
  margin-bottom: 10rem;
}
/* Header img and title*/
.title {
  font-size: 10rem;
  color: white;
  font-family: var(--font-family);
  text-align: center;
  margin-top: 40rem;
  text-shadow: 1rem 1rem 1rem rgb(22, 22, 22);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Intro 3 flexbox*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.content {
  width: 17vw;
  flex-wrap: wrap;
  margin: 2rem;
  height: 40vh;
  justify-content: center;
}

.content p {
  font-size: 2rem;
}
.content h1 {
  font-size: 3rem;
}
.content img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-top: 2rem;
}

/*About Section*/

.about {
  background-color: #dcdcdc;
  display: flex;
  padding: 6rem;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: -3rem;
}
.grid-text {
  margin-right: 6rem;
  transform: translate(0, -17rem);
  width: 80rem;
}
.square-grid {
  text-align: center;
}

.card {
  margin: 2rem;
}

.square-grid img {
  width: 20vw;
  height: 35vh;
  object-fit: cover;
}

.grid-title {
  justify-content: center;
  transform: translate(0, -19rem);
  font-size: 3rem;
  color: white;
  text-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
}
/*Holidays Section*/
.holidays1,
.holidays2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
p {
  font-size: 2rem;
  margin-top: 1rem;
}
img {
  width: 40rem;
  height: 100%;
  object-fit: cover;
}
.flexbox {
  height: 35vh;
  margin: 2rem;
  margin-bottom: 7rem;
}

.holidays1 > *:nth-child(1) {
  flex: 1 1 15%;
}

.holidays1 > *:nth-child(2) {
  flex: 1 1 85%;
}

.holidays2 > *:nth-child(1) {
  flex: 1 1 85%;
}

.holidays2 > *:nth-child(2) {
  flex: 1 1 15%;
}

/*Tradition Collage*/
.tradition-collage{
  height: 200vh;
  width: 100%;
  background-color: lightgrey;
}

/*History Timeline*/

/*Media Queries*/

@media only screen and (max-width: 768px) {
  .container, .about  {
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 70vw;
    flex-wrap: wrap;
    height: 40vh;
    justify-content: center;
    margin-bottom: -14rem;
  }
  .content1{
    margin-bottom: 0vh;
    margin-top: -5vh;
  }
  .about{
    height:120vh;
    margin-top: 8rem;
  }
  .grid-text{
    transform: translate(0, -2rem);
    width: 70vw;
  }
  .square-grid img {
    width: 30vw;
  }

}
@media all and (max-width: 768px) {
  body{
    overflow-x: hidden;
    position: relative;
  }
  .navbar{
    background: var(--grey);
    height: 7rem;
  }
  .nav-links{
    position: absolute;
    right: -3rem;
    height: 93.2vh;
    top: 6.8vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .toggle-button{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translate(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px, -6px);
}
}
@media screen and (max-width: 414px) {
  .nav-links {
    top: 7.8vh;
  }
}