@import url("variable.css");
 
.navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: var(--grey);
}
.nav-links{
    display: flex;
    margin-right: 3rem;
    list-style: none;
}
.logo{
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 5px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: 'Ma Shan Zheng', cursive;
}
.logo img{
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
ul li {
    padding: 25px 25px;
  } 

.navbar a{
  display: block;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}
#flag{
 position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 15px;
}

header {
  position: absolute;
  width: 100%;
  height: 110rem;
  left: 0rem;
  top: 7rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
header {
  background: url("https://assets.cntraveller.in/photos/60ba24650f3a5367ec9fe8e8/master/pass/The-Great-Wall-1.jpg")
    top/cover no-repeat fixed;
  max-height: 102.5rem;
}
.text-box {
    color: white;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
  }
  .text-box h1 {
    font-size: 12rem;
  }
  .text-box h2 {
    font-size: 3.5rem;
    font-family: "Cormorant SC", serif;
  }
  .header-img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    margin-top: 8rem;
    margin: 5rem;
    box-shadow: var(--light-grey) -2.5rem -2.5rem;
    opacity: 0;
  }
  .toggle-button {
    display: none
}

.toggle-button div{
  width: 2rem;
  height: 0.3rem;
  background-color: rgb(226,226,226);
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  transition: all 0.3s ease;
}
  @media all and (max-width: 768px) {
    body{
      overflow-x: hidden;
      position: relative;
    }
    .navbar{
      background: var(--grey);
      height: 7rem;
    }
    .nav-links{
      position: absolute;
      right: -3rem;
      height: 93.2vh;
      top: 6.8vh;
      background-color: orange;
      display: flex;
      flex-direction: column;
      align-items: center; 
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .toggle-button{
      display: block;
    }
    .nav-active{
      transform: translateX(0%);
    }
    @keyframes navLinkFade{
      from{
        opacity: 0;
        transform: translate(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
    }

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
}