html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --grey: #424242;
  --light-grey: #A09797;
  --white: #ffffff
  --red: #F25E5E

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  /* Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --font-family: "Montserrat", sans-serif;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 7rem;
  left: 0rem;
  top: 0rem;

  background: var(--grey);
}
.navbar img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 15px;
  border-radius: 100%;
}
.navbar h1 {
  position: absolute;
  width: 14.125rem;
  height: 3.75rem;
  top: 1.75rem;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.home {
  left: 11rem;
}
.culture {
  left: 23rem;
}
.attractions {
  left: 38rem;
}
.cuisine {
  left: 58rem;
}
header {
  position: absolute;
  width: 100%;
  height: 110rem;
  left: 0rem;
  top: 7rem;
}
body {
  background: url("https://assets.cntraveller.in/photos/60ba24650f3a5367ec9fe8e8/master/pass/The-Great-Wall-1.jpg");
  background-repeat: no-repeat;
}
.header h1{
  font-family: var(--font-family);
  font-size: 15rem;
  font-weight: 400;
}
.header-img{
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  margin: 5rem;
  box-shadow: var(--light-grey) -2.5rem -2.5rem;
}
.top-imgs {
  display: flex;
  justify-content: center;
  margin-top: 80rem;
}
.china-subheader {
  position: absolute;
  font-family: var(--font-family);
  font-size: 7rem;
  font-weight: 80px;
  transform: rotate(-90deg);
  top: 180rem;
  left: 3rem;
  color: white;
  background-color: #F25E5E;
  line-height: 12rem;
  text-align: right;
  padding-right: 5rem;
  padding-left: 55rem;
}
.subheader1 {
  position: absolute;
  font-family: var(--font-family);
  font-size: 5rem;
  width: 1rem;
  top: 148rem;
  left: 56rem;
}
.mapOfChina {
  width: 90rem;
  position: absolute;
  top: 160rem;
  left: 68rem;
}
.facts {
  display: flex;
  align-items: center;
  margin-top: 233rem;
  justify-content: center;
  
  font-family: var(--font-family);
  font-size: 6rem;
}
.facts img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 2.5rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem;
  text-align: center;
}
.more-info {
  display: grid;
  grid-template-columns: [first] 40rem [line2] 67rem [line3] auto [four] 40rem [end];
  grid-template-rows: [first-line] 50% [middle-line] 50% [last-line];
  column-gap: 2rem;
  row-gap: 2rem;
}
.panda {
  grid-column-start: line2;
}
.building {
  grid-column-start: line3;
  grid-row-start: row1-start;
}
.chongqing {
  grid-template-columns: line3;
  grid-row-start: row1-end;
  width: 40px;
}
